---
import FigureImage from "../FigureImage.astro";

export interface ImageItem {
  src: string;
  alt: string;
  href: string;
  position?: string;
  style?: string;
}
export interface Props {
  title: string;
  subtitle: string;
  images: ImageItem[];
}
const { title, subtitle, images } = Astro.props;
---

<div id="grid">
  {
    images.map((img) => (
      <FigureImage
        src={img.src}
        alt={img.alt}
        href={img.href}
        position={img.position}
        width={256}
        height={256}
        fit="cover"
        format="avif"
      />
    ))
  }
  <div id="title">
    <h2>{subtitle}</h2>
    <h1>{title}</h1>
  </div>
  <div id="contents">
    <p>Hover or click on any image for more info</p>
  </div>
</div>
<style is:inline>
  figure figcaption {
    font-size: 1.5rem;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  figure:hover figcaption {
    opacity: 1;
  }

  img {
    transform: translateZ(0);
    width: 128px;
    height: 128px;
    border-radius: 4px;
    object-fit: cover;
  }
</style>
<style>
  #grid {
    display: grid;
    grid-template:
      ". . ." 1fr "title title title" 1fr ". . ." 1fr ". . ." 1fr / 1fr 1fr 1fr;
    width: 750px;
    height: 80vh;
    margin: 7.5vh auto 0;
    color: var(--gray-400);
  }

  #title {
    grid-area: title;
    padding: 0 10%;
  }

  #title h2,
  #title h1 {
    display: block;
    margin: 0;
    padding: 0;
    font-family: Blaster, sans-serif;
    font-weight: 900;
  }

  #title h2 {
    font-size: 2em;
  }

  #title h1 {
    font-size: 4em;
    text-align: left;
  }

  #contents {
    width: 150px;
    height: 150px;
    margin: 2.5em auto;
  }

  #contents p {
    font-size: 20px;
  }
</style>
