---
type Props = Record<string, never>;
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
const isArchive = new URL(Astro.request.url).pathname.includes("/archive");
const collectionName = isArchive ? "archive" : "blogs";
const posts = await getCollection(collectionName);

// Sort posts by date
const sortedPosts = posts.sort(
  (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
);

// const thumbs = await Astro.glob('../assets/images/blog/**');
// const getThumb = (path: string | undefined) =>
//   thumbs.find((t) => t.default.src.includes(path))?.default;
---

<ul class="gallery">
  {
    sortedPosts.map((post) => (
      <li>
        <a href={`/blogs/${post.id}`} data-astro-prefetch>
          <figure>
            <img src={post.data.thumb} alt="" />
            {/* <Image src={getThumb(post.data.thumb) || ""} alt={post.data.description}  /> */}
            <figcaption>
              <time datetime={new Date(post.data.date).toISOString()}>
                {new Date(post.data.date).toLocaleDateString("en-US", {
                  year: "numeric",
                  month: "long",
                  day: "numeric",
                })}
              </time>
              <h2>{post.data.title}</h2>
              <p>{post.data.description}</p>
            </figcaption>
          </figure>
        </a>
      </li>
    ))
  }
</ul>
<style>
  /*
  Reusable gallery component. Used on front page
*/

  .gallery {
    margin-block: 4rem;
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 10%;
    }

    figure {
      transition: transform 0.1s;
      align-items: flex-start;
      display: flex;
      gap: 3rem;
      margin: 3em 0;

      &:hover {
        transform: scale(1.01);
      }
      figcaption {
        margin: auto;
      }

      @media (width < 900) {
        img {
          display: none;
        }
      }
    }

    time {
      color: var(--tan);
      font-weight: 300;
      font-size: 85%;
    }

    h2 {
      color: var(--lavender-blush);
      text-wrap: balance;
      font-size: 2rem;
      font-weight: 500;
      line-height: 1.5;
      margin: 0;
      text-decoration: underline var(--ash-gray) 1px;
    }
  }

  p {
    margin-block: 0.5em;
  }

  img {
    max-width: 400px;
    min-width: 200px;
  }
</style>
