---
import { ClientRouter } from "astro:transitions";

interface Props {
  title: string;
  description: string;
  keywords?: string[];
  image: string;
  accent?: string;
}

const { title, description, keywords, image, accent } = Astro.props;

const keywordsString =
  Array.isArray(keywords) && keywords.length
    ? keywords.join(", ")
    : "Nekoweb, Lel, Blog, Personal";

const isDev = import.meta.env.DEV;
---

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="author" content="Lel Illumina" />

  <title>{title}</title>
  <meta name="description" content={description} />
  <meta name="keywords" content={keywordsString} />
  <meta name="theme-color" content={accent} />

  <!-- OpenGraph Embed shit -->
  <meta property="og:image" content={new URL(image, Astro.url)} />
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:type" content="website" />
  <meta property="og:url" content={new URL(Astro.url.pathname, Astro.site)} />
  <meta property="og:site_name" content="Lel@Nekoweb" />
  <meta name="twitter:card" content="summary_large_image" />

  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="sitemap" href="/sitemap-index.xml" />
  <link
    rel="alternate"
    type="application/rss+xml"
    title="lel@nekoweb"
    href={new URL("rss.xml", Astro.site)}
  />

  {
    !isDev && (
      <script
        is:inline
        type="text/partytown"
        src="https://cloud.umami.is/script.js"
        data-website-id="e892313b-4c2a-45e8-90ed-25d53abbc813"
      />
    )
  }

  <script src="/src/scripts/console.ts"></script>
  <script src="/src/scripts/average.ts"></script>

  <meta
    name="google-site-verification"
    content="WOn7NKMqQnniSYxOoqE9lu4k9YKK9zzhUJkSwQLm-_U"
  />

  <ClientRouter />

  <slot name="head" />
</head>
