---
import { Image } from "astro:assets";

const { posts } = Astro.props as {
  posts: Array<{
    id: string;
    data: {
      thumb: {
        src: string;
        width: number;
        height: number;
        format:
          | "png"
          | "jpg"
          | "jpeg"
          | "tiff"
          | "webp"
          | "gif"
          | "svg"
          | "avif";
      };
      description: string;
      date: string;
      title: string;
      tags: string[];
      draft: boolean;
    };
  }>;
};
---

<ul class="gallery">
  {
    posts.map((post) => (
      <li>
        <a
          href={`./${post.id}/`}
          data-astro-prefetch
          class={post.data.draft ? "draft" : ""}
        >
          <figure>
            <Image
              src={post.data.thumb}
              alt={post.data.description}
              width={400}
            />
            <figcaption>
              <time datetime={new Date(post.data.date).toISOString()}>
                {new Date(post.data.date).toLocaleDateString("en-US", {
                  year: "numeric",
                  month: "long",
                  day: "numeric",
                })}
              </time>
              <h2>
                {post.data.title} {post.data.draft ? "(WIP)" : ""}
              </h2>
              <p>{post.data.description}</p>
              <p id="tags">{post.data.tags.join(", ")}</p>
            </figcaption>
          </figure>
        </a>
      </li>
    ))
  }
</ul>
<style>
  /*
  Reusable gallery component. Used on front page
*/

  .gallery {
    margin-block: 4rem;
    padding: 0;
    list-style: none;

    li {
      margin-bottom: 10%;
    }

    figure {
      display: flex;
      gap: 3rem;
      align-items: flex-start;
      margin: 3em 0;
      transition: transform 0.1s;

      &:hover {
        transform: scale(1.01);
      }

      figcaption {
        margin: auto;
      }

      @media (width < 900px) {
        img {
          display: none;
        }
      }
    }

    time {
      font-size: 85%;
      font-weight: 300;
      color: var(--tan);
    }

    p {
      margin-block: 0.5em;
    }

    h2 {
      margin: 0;
      font-size: 2rem;
      font-weight: 500;
      line-height: 1.5;
      color: var(--gray-400);
      text-decoration: underline var(--gray-200) 1px;
      text-wrap: balance;

      + p {
        max-width: 400px;
      }
    }
  }

  #tags {
    margin-top: 0.5em;
    font-size: 1rem;
    font-weight: 300;
    color: var(--gray-400);
    text-decoration: none;
  }

  img {
    min-width: 200px;
    max-width: 400px;
  }

  .draft {
    opacity: 0.5;
  }
</style>
