---
import Base from "@layouts/Base.astro";
import Header from "@components/Header.astro";
import "/src/styles/widget.css";
import "remark-github-blockquote-alert/alert.css";

import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("blogs");
  return posts.map((post) => ({
    params: { blog: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
const { title, description, date, thumb, tags, keywords } = post.data;
---

<Base {title} {description} image={thumb ?? ""} keywords={keywords}>
  <Header />
  <main>
    <article>
      <header>
        <figure>
          <img id="bgImg" src={thumb ?? ""} alt={description} />
        </figure>
        <div id="heroText">
          <h1>{title}</h1>
          <p>
            {post.data.description}
            <br /><br />
            <time datetime={date.toISOString()}
              >{
                date.toLocaleDateString("en-US", {
                  year: "numeric",
                  month: "long",
                  day: "numeric",
                })
              }</time
            > |
            <span>
              {
                tags.map((tag, i) => (
                  <>
                    <a href={`/blogs/tags/${encodeURIComponent(tag)}/`}>
                      {tag}
                    </a>
                    {i < tags.length - 1 && ", "}
                  </>
                ))
              }</span
            >
            <span id="draftWarn">
              {
                post.data.draft ? (
                  <>
                    <>
                      <br />
                      <br />
                    </>
                    (Draft - Not final content)
                  </>
                ) : (
                  ""
                )
              }
            </span>

            <span id="scrollWarn">
              <br /><br />
              Note: Firefox/Your Browser dosent natively support scroll-timeline.
              So the background image scrolling wont work as expected even with a
              polyfill
            </span>
          </p>
        </div>
      </header>
      <section>
        <Content />
        <div id="c_widget"></div>
        <!-- <script is:inline src="/blogs/comment-widget.js"></script> -->
      </section>
    </article>
  </main>
</Base>
<script src="https://flackr.github.io/scroll-timeline/dist/scroll-timeline.js"
></script>
<style is:inline>
  figure img {
    max-width: 50%;
  }
  header figure img {
    max-width: 100%;
  }
</style>
<style>
  header img {
    z-index: -1;
    position: absolute;
    object-fit: cover;
    mask-image: linear-gradient(#000000a6 0%, #0000 100%);
    width: 100vw;
    height: 400px;
    top: 0;
    left: 0;
  }

  #heroText {
    padding-bottom: 10px;
  }

  #bgImg {
    position: fixed;
    top: 0;

    animation: parallax linear forwards;
    animation-timeline: scroll();
    animation-range: 0vh 100vh;

    max-width: 100vw;
  }

  @keyframes parallax {
    0% {
      height: 100vh;
      filter: blur(0px) brightness(0.75);
    }
    10% {
      filter: blur(10px);
    }
    100% {
      height: 100vh;
      filter: blur(20px);
    }
  }
  #scrollWarn {
    font-size: 1.5rem;
    line-height: 0.1px;
    color: var(--tan);
    font-weight: bold;
  }

  @supports (animation-timeline: scroll()) {
    #scrollWarn {
      display: none;
    }
  }
</style>
